[submodule "SOSILE-SERVER"]
	path = SOSILE-SERVER
	url = https://github.com/amazingefren/SOSILE-SERVER
[submodule "SOSILE-CLIENT"]
	path = SOSILE-CLIENT
	url = https://github.com/amazingefren/SOSILE-CLIENT
